@page "/update-password/{Id:int}"
@inject HttpClient Http
@inject NavigationManager Navigation
@inject Helpers.RequestHelper RequestHelper

@using PasswordManager.Core.Password

<PageTitle>Update Password</PageTitle>

<EditForm Model="@updatedPassword" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Name</label>
        <InputText id="name" class="form-control" @bind-Value="updatedPassword.Name" />
    </div>
    <div class="form-group">
        <label for="encrypted">Encrypted</label>
        <InputText id="encrypted" type="password" class="form-control" @bind-Value="updatedPassword.Encrypted" />
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <InputText id="category" class="form-control" @bind-Value="updatedPassword.Category" />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</EditForm>

@if (validationErrors.Any())
{
    <div class="alert alert-danger mt-3">
        <ul>
            @foreach (var error in validationErrors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}

@code {
    [Parameter]
    public int? Id { get; set; }

    private UpdatePasswordModel updatedPassword = new UpdatePasswordModel();
    private List<string> validationErrors = [];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await RequestHelper.GetAsync($"/api/passwords/{Id}");

            if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
            {
                Navigation.NavigateTo("/login");
                return;
            }

            else if (response.StatusCode == System.Net.HttpStatusCode.OK)
            {
                updatedPassword = await response.Content.ReadFromJsonAsync<UpdatePasswordModel>();
                StateHasChanged();
                return;
            }
        }
        catch (UnauthorizedAccessException)
        {
            Navigation.NavigateTo("/login");
            return;
        }
    }

    private async Task HandleValidSubmit()
    {
        if (Id == null)
            return;

        validationErrors = PasswordHelper.GetPasswordValidationErrors(new ()
        {
            Name = updatedPassword.Name,
            Encrypted = updatedPassword.Encrypted,
            Category = updatedPassword.Category,
        });
        if (validationErrors.Count > 0)
            return;

        try
        {
            var response = await RequestHelper.PutAsync($"/api/passwords/{Id}", updatedPassword);

            if (response.IsSuccessStatusCode)
            {
                Navigation.NavigateTo("/");
            }
            else if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
            {
                validationErrors = await response.Content.ReadFromJsonAsync<List<string>>();
            }
            else
            {
                validationErrors.Add("An error occured when creating password");
            }
        }
        catch (UnauthorizedAccessException)
        {
            Navigation.NavigateTo("/login");
            return;
        }
    }
}
